## Datos cualitativos - examen

In [41]:
import numpy as np
import pandas as pd
%matplotlib inline 
import matplotlib.pyplot as plt

### 1. Dad la instrucci贸n que defina la tabla de frecuencias absolutas de un vector llamado "alumnos"

In [19]:
df_alumnos = pd.DataFrame({
        "Maria": np.random.randint(1,5,5), 
        "Pedro": np.random.randint(1,5,5), 
        "Juan": np.random.randint(1,5,5),
        "Moises": np.random.randint(1,5,5)
    
},index=['Math', 'Nat', 'Soc', 'Esp', 'Dep']
)

df_alumnos = df_alumnos.T

df_alumnos

        Math  Nat  Soc  Esp  Dep
Maria      2    4    2    4    2
Pedro      3    2    3    2    3
Juan       3    4    4    4    2
Moises     1    1    3    4    2

In [23]:
df_alumnos['Math'] = pd.Categorical(df_alumnos['Math'])
pd.crosstab(index = df_alumnos['Math'],columns = 'count')

col_0  count
Math
1          1
2          1
3          2

### 2. Con una sola instrucci贸n, definid la tabla de frecuencias relativas de un vector llamado "edades"

In [29]:
df_edades = pd.DataFrame({
        "Maria": np.random.randint(18,20,1), 
        "Pedro": np.random.randint(18,20,1), 
        "Juan": np.random.randint(18,20,1),
        "Moises": np.random.randint(18,20,1)
    
},index=['Edad']
)

df_edades = df_edades.T

df_edades_rel = pd.crosstab(index = df_edades['Edad'],columns = "count")
df_edades_rel/df_edades_rel.sum()*100

col_0  count
Edad
18      25.0
19      75.0

### 3. Con una sola instrucci贸n, definid la tabla bidimensional conjunta de frecuencias absolutas de dos vectores llamados "altura" y "peso", de forma que las filas correspondan a "altura" y las columnas a "peso"

In [39]:
df_alumnos = pd.DataFrame({
        "Maria": (5.3,170,20), 
        "Pedro": (5.3,170,21), 
        "Juan": (5.3,190,20),
        "Moises": (6.6,270,18)
},index=['Altura','Peso','Edad']
)

df_alumnos = df_alumnos.T

pd.crosstab(index = df_alumnos['Altura'],
                          columns = df_alumnos['Peso'])

Peso    170.0  190.0  270.0
Altura
5.3         2      1      0
6.6         0      0      1

### 4.Con una sola instrucci贸n, definid la tabla bidimensional conjunta de frecuencias relativas calculadas dentro del total, de dos vectores llamados "edad" y "altura", de forma que las filas correspondan a "altura" y las columnas a "edad"

In [40]:
alumnos_alt_edad = pd.crosstab(index = df_alumnos['Altura'], 
                            columns = df_alumnos['Edad'],
                            margins = True) 
alumnos_alt_edad/alumnos_alt_edad.loc["All", "All"]

Edad    18.0  20.0  21.0   All
Altura
5.3     0.00   0.5  0.25  0.75
6.6     0.25   0.0  0.00  0.25
All     0.25   0.5  0.25  1.00