## Examen data frames

In [2]:
import pandas as pd #lo primero es llamar a pandas

In [4]:
df = pd.read_csv("../../data/run.csv", delimiter =",",decimal=".") 
df.head()

,Unnamed: 0,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
0,1,48,54,no,si,H,68.0,150,nula
1,2,54,56,no,si,H,69.0,145,moderada
2,3,54,50,no,no,H,69.0,160,moderada
3,4,58,70,si,no,H,72.0,145,moderada
4,5,58,58,no,no,H,66.0,135,intensa

In [9]:
## 1. Indica cuantos estudiantes formaron parte del estudio de deporte

len(df)

92

In [45]:
## 2. Indica cuantos individuos son hombres y cuantos son mujeres

x = df.groupby("genero")
x.genero.count()

genero
H    57
M    35
Name: genero, dtype: int64

In [43]:
## 3. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después 
#de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. 
#¿Observas mucha diferencia?

x = df.groupby("hace.deporte") 
x.mean()

#Los que no hacen ejercicio por alguna razon su pulso por minuto entre antes y después de hacer ejercicio 
#varia muy poco, a diferencia de los que si hacen ejercicio que varia bastante

              Unnamed: 0  pulso.antes  pulso.despues     altura        peso
hace.deporte
no             47.017544    72.421053      72.315789  68.065789  141.122807
si             45.657143    73.600000      92.514286  69.778571  151.714286

In [36]:
## 4. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio  
#para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las 
#mujeres. ¿Observas mucha diferencia?

x = df.groupby(["genero","hace.deporte"]) 
x.mean()

#Por alguna razon en las mujeres que hacen ejercicio hay mucho mas variacion que en los hombres que hacen ejercicio

                     Unnamed: 0  pulso.antes  pulso.despues     altura  \
genero hace.deporte
H      no             42.545455    70.545455      70.545455  70.409091
       si             38.083333    70.250000      83.208333  71.229167
M      no             53.166667    75.000000      74.750000  64.843750
       si             62.181818    80.909091     112.818182  66.613636

                           peso
genero hace.deporte
H      no            155.545455
       si            162.000000
M      no            121.291667
       si            129.272727

In [40]:
## 5.Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer 
#ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los 
#fumadores con los no fumadores. ¿Observas mucha diferencia?

x = df.groupby(["fuma","hace.deporte"]) 
x.mean()

#El porcentanje de variacion para las personas que no hacen ejercicio y fuman es igual 
#para los que hacen ejercicio y NO fuman

                   Unnamed: 0  pulso.antes  pulso.despues     altura  \
fuma hace.deporte
no   no             45.512195    71.707317      71.512195  68.079268
     si             43.391304    72.347826      93.695652  69.478261
si   no             50.875000    74.250000      74.375000  68.031250
     si             50.000000    76.000000      90.250000  70.354167

                         peso
fuma hace.deporte
no   no            138.195122
     si            148.869565
si   no            148.625000
     si            157.166667

In [42]:
## 6. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer 
#ejercicio de todos los estudiantes según el tipo de actividad física que realizan. 
#¿Observas alguna diferencia?

x = df.groupby(["tipo.actividad","hace.deporte"]) 
x.mean()

                             Unnamed: 0  pulso.antes  pulso.despues  \
tipo.actividad hace.deporte
intensa        no             44.785714    71.500000      70.428571
               si             40.285714    71.714286      75.714286
moderada       no             45.750000    72.027778      72.166667
               si             46.200000    73.760000      98.080000
nula           no              1.000000    48.000000      54.000000
suave          no             67.500000    81.000000      80.666667
               si             53.666667    76.666667      85.333333

                                altura        peso
tipo.actividad hace.deporte
intensa        no            68.821429  141.428571
               si            71.071429  159.000000
moderada       no            67.951389  141.305556
               si            68.990000  147.280000
nula           no            68.000000  150.000000
suave          no            67.000000  137.833333
               si            73.333333  171.666667